FINCORE.WEB/ReportLAHSSchemas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" id="GetMobileSurvey" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PrintLAHSModels" nillable="true" type="PrintLAHSModels" />
  <xs:complexType name="PrintLAHSModels">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MobileSurveyID" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="NamaPemohon" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AlamatPemohon" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NoTelepon" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SumberDana" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HubunganDenganPemohon" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="JenisPekerjaan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StatusTempatTinggal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuktiKepemilikanRumah" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NamaPadaBuktiKepemilikan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HubunganBuktiKepemilikanRumah" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LamaMenempatiRumah" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KondisiRumah" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LokasiRumah" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DayaListrik" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PembayaranListrik" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LuasTanah" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StatusKaryawan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LamaBekerja" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Jabatan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Posisi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NamaInstansi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NoTeleponTempatKerja" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="JenisInstansi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SkalaPerusahaan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BidangUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="JenisUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DetailJenisUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="JenisKomoditi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="JumlahKaryawanDiTempatKerja" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LamaBerdiriInstansi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LokasiInstansi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PekerjaanPasangan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PenghasilanTambahan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaNamaInstansi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaJenisUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaDetailJenisUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaJenisKomoditi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaLamaUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaSkalaUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaFisikUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaLokasiUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaTempatUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaKepemilikanUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaModalUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaKebutuhanAkanKomoditi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaTingkatKompetisi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaJumlahKaryawan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaAktivitasTransaksiUsaha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaKeahlianKhususUntukMenjalankanUsahaTersebut" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WiraswastaPekerjaanPasangan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ApakahPernahMengajukanKreditSebelumnya" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TujuanPenggunaanUnit" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SiapaPenggunaUnitModal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FrekuensiPenggunaanUnit" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RataRataJarakPemakaianUnit" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="JumlahTanggungan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AnggotaKeluargaUsiaLebihDari15Tahun" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="JumlahKendaraanYangDimiliki" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TujuanPenggunaanModal" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PendapatanUtama" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PendapatanPasangan" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PendapatanTambahan1" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PendapatanTambahan2" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalPendapatan" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="BiayaRumahTangga" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="BiayaListrikAir" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="BiayaPendidikan" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="BiayaPulsaTelepon" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="CicilanLainnya" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalPengeluaran" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="KualitasSumberOrder" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NasabahSulitDitemui" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TidakKooperatif" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PindahAlamat" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AtasNama" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NasabahFiktif" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnitDigadai" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CampurTanganPihakKetiga" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KapasitasMenurun" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PenghasilanMenurun" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PindahKerja" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KtpNasabah" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KtpPasanganPenjamin" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KartuKeluarga" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValidasiBuktiKepemilikanRumah" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuktiPenghasilan" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="MobileCASID" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="MobileFCLID" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="MobileSurveyIDs" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipeAplikasi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipeFinance" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipeBaruBekas" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NamaDealer" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Merk" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="HargaKendaraan" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="UangMuka" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="JenisTenor" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tenor" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="NominalAngsuran" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Statuscasmobile" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssetSeriesID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FreshOrder" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TekananApproval" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KonflikKepentingan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AlurProses" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProfilNasabah" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProfilkebutuhanUnit" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProfilKemampuanBayar" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KesimpulanAnalisa" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CAKelengkapanLAHS" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CAKualitasSumberOrder" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CAKonflikKepentingan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CAAlurProses" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CAProfilNasabah" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CAProfilKebutuhanUnit" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CAProfilKelancaranBayar" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CAProfilKemampuanBayar" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CAAnalisaCMO" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CAKesimpulanAnalisa" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KacabAlurProses" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KacabTekananApproval" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KacabKonflikKepentingan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KacabProfilNasabah" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KacabProfilKebutuhanUnit" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KacabProfilKemampuanBayar" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KacabProfilCMO" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KacabProfilCA" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KacabKeseriusanAnalisaBM" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KacabKesimpulanAnalisa" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="tglSurvey" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="tglOrder" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="CMOName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CAname" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TglKomiteCA" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="KACABname" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TglKomiteKACAB" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>